.switch-wrapper {
  display: flex;
  align-items: center;
  margin-right: var(--spacing-6);
}

.switch-info {
  display: flex;
  flex-direction: column;
  margin-left: var(--spacing-1);

  .switch-desc {
    opacity: var(--opacity-medium);
    font-weight: var(--font-weight-light);
    font-size: var(--spacing-3);
    margin-top: var(--spacing-1);
  }
}