.marketplace-item-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 208px;

  .marketplace-item-img {
    border-radius: calc(var(--border-radius-xl) * 1.5);
    height: 168px;
    margin-bottom: var(--spacing-3);
  }

  .marketplace-item-name {
    margin-bottom: var(--spacing-2);
  }

  .marketplace-item-coins {
    display: flex;
    align-items: center;
    color: var(--marketplace-coin-color);
    margin-bottom: var(--spacing-3);
  }

  & + .marketplace-item-wrapper {
    margin-left: var(--spacing-3);
  }
}

.marketplace-item-divider {
  background-color: var(--border-bg-color);
  height: 2px;
  margin: var(--spacing-8) 0;
  width: 100%;
  border: none;
}